/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

/*
=============== 
Variables
===============
*/
:root {
  /* primary/main color */
  --clr-primary-desaturated-dark-cyan: hsl(180, 29%, 50%);
  /*  */
  --clr-light-grayish-cyan-bg: hsl(180, 52%, 96%);
  --clr-light-grayish-cyan-tablets: hsl(180, 31%, 95%);
  --clr-light-gray: hsl(180, 4%, 76%);
  --clr-dark-grayish-cyan: hsl(180, 8%, 52%);
  --clr-very-dark-grayish-cyan: hsl(180, 14%, 20%);

  --ff-primary: 'Spartan', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px hsl(180, 30%, 72%);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px hsl(180, 29%, 50%);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 15px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
/*
=============== 
Styles
===============
*/
.main-container {
  width: 100vw;
  background-color: var(--clr-light-grayish-cyan-bg);
}
/*
=============== 
Page Header with filter buttons
===============
*/
.header-bg-container {
  width: 100vw;
  height: 12rem;
  background-image: url(./images/bg-header-mobile.svg);
  background-size: cover;
  background-color: var(--clr-primary-desaturated-dark-cyan);
}
.filter-btn {
  border: transparent;
  color: var(--clr-primary-desaturated-dark-cyan);
  background: var(--clr-light-grayish-cyan-bg);
  padding: 0.3rem 0.5rem;
  font-weight: 700;
  letter-spacing: var(--spacing);
}
.filter-btn-icon {
  background: var(--clr-primary-desaturated-dark-cyan);
  color: white;
  display: grid;
  place-items: center;
  padding: 0.12rem;
  font-size: 1.2rem;
  transition: var(--transition);
  cursor: pointer;
}
.filter-btn-icon:hover {
  background: var(--clr-very-dark-grayish-cyan);
}
.single-filter-btn {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}
.clear-btn {
  background: transparent;
  border: transparent;
  color: var(--clr-primary-desaturated-dark-cyan);
  transition: var(--transition);
  text-decoration: underline solid transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: var(--spacing);
}
.clear-btn:hover {
  text-decoration: underline solid var(--clr-primary-desaturated-dark-cyan);
}
.btns-container {
  width: 90vw;
  margin: 0 auto;
  background: white;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-top: -2rem;
  box-shadow: var(--light-shadow);
}
.filter-btns {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
@media screen and (min-width: 1140px) {
  .single-filter-btn {
    margin-bottom: 0;
  }
}

/*
=============== 
Job container
===============
*/
.jobs-container {
  margin: 4rem 2rem;
}
.single-job-container {
  position: relative;
  background: white;
  border-radius: 6px;
  box-shadow: var(--light-shadow);
  margin-bottom: 4rem;
  padding: 2rem;
  padding-top: 4rem;
}
.single-job-container-border {
  border-left: solid 0.5rem var(--clr-primary-desaturated-dark-cyan);
}
.company-logo {
  position: absolute;
  top: -2.5rem;
}
.job-info-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
.job-info-header p {
  margin-bottom: 0;
  margin-right: 2rem;
  color: var(--clr-primary-desaturated-dark-cyan);
}
.new-flag-btn,
.featured-btn {
  border: transparent;
  background: var(--clr-primary-desaturated-dark-cyan);
  color: white;
  padding: 0.4rem 0.6rem 0.3rem 0.6rem;
  border-radius: 16rem;
  margin-right: 1rem;
  letter-spacing: var(--spacing);
}
.featured-btn {
  background: var(--clr-very-dark-grayish-cyan);
}
.job-info h3 {
  color: var(--clr-very-dark-grayish-cyan);
  cursor: pointer;
  transition: var(--transition);
}
.job-info h3:hover {
  color: var(--clr-primary-desaturated-dark-cyan);
}
.job-info-footer {
  display: flex;
  color: var(--clr-dark-grayish-cyan);
}
.job-info-footer span {
  margin: 0.5rem;
  margin-top: -1.2rem;
  font-size: 2rem;
}
.line {
  border-top: solid 2px var(--clr-light-gray);
  margin-bottom: 1.2rem;
}
.languages-btn {
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 6px;
}
.languages-btn:hover {
  background: var(--clr-primary-desaturated-dark-cyan);
  color: var(--clr-light-grayish-cyan-bg);
}
@media screen and (min-width: 1140px) {
  .line {
    display: none;
  }
  .company-logo {
    position: relative;
    top: 0;
  }
  .single-job-container {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }
  .languages {
    width: 35vw;
  }
  .logo-info {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    align-items: center;
  }
}
